/* estilo0.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Desactivar selección de texto en toda la página */
body {
    user-select: none; /* Para navegadores modernos */
    -webkit-user-select: none; /* Para Safari */
    -moz-user-select: none; /* Para Firefox */
    -ms-user-select: none; /* Para Internet Explorer/Edge */
}

/* Activar selección de texto solo en el área del código */
#codigoJava {
    user-select: text; /* Permitir selección de texto en el área de código */
}


h1 {
    color: #333;
    text-align: center;
}


p {
    margin: 20px;
    line-height: 1.6;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    margin: 20px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

pre {
    background-color: #e8e8e8;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    overflow-x: auto;
}

code {
    font-family: 'Courier New', Courier, monospace;
    color: #d63384;
}