body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa;
    user-select: none; /* Para navegadores modernos */
    -webkit-user-select: none; /* Para Safari */
    -moz-user-select: none; /* Para Firefox */
    -ms-user-select: none; /* Para Internet Explorer/Edge */
}

header {
    background: #00796b;
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 1.5rem;
}

section h2 {
    color: #00796b;
    border-bottom: 2px solid #00796b;
    padding-bottom: 0.5rem;
}

ul {
    list-style-type: disc;
    margin-left: 1.5rem;
}

pre {
    background: #b2dfdb;
    padding: 1rem;
    overflow-x: auto;
}

code {
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
}

/* Activar selección de texto solo en el área del código */
#codigoJava {
    user-select: text; /* Permitir selección de texto en el área de código */
}

#buttonContainer {
    display: flex;
    justify-content: center;
    margin: 20px;
}

button {
    background-color: #00796b;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b476;
}
