body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

/* Desactivar selección de texto en toda la página */
body {
    user-select: none; /* Para navegadores modernos */
    -webkit-user-select: none; /* Para Safari */
    -moz-user-select: none; /* Para Firefox */
    -ms-user-select: none; /* Para Internet Explorer/Edge */
}

/* Activar selección de texto solo en el área del código */
#codigoJava {
    user-select: text; /* Permitir selección de texto en el área de código */
}


h1, h2 {
    color: #333;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

#buttonContainer {
    text-align: center;
    margin: 20px 0;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

pre {
    background-color: #333;
    color: #f8f8f2;
    padding: 20px;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}